
.catalog-wrap{
  width: 90%;
  margin: 0 auto;
  .sort li{
    padding: 0 30px 0 30px;
    color: #fff;
  }
  .count-page{
    text-align: center;
  }
  .catalog-background {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 0 0 6px 0 !important;


    .catalog-wrap-content {
      .page-device-modal{
        width: 600px;
        height: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-25%);
        background: #fff;
        z-index: 1001;
        padding: 30px;
        border: 6px solid #CFB690;
        .img-wrap-device{
          width: 50%;
          display: inline-block;
        }
        .btn-modal-buy{
          border: 1px solid black;
        }
        img.close-modal{
          position: absolute;
          top: 3%;
          right: 3%;
          height: 10%;
          width: 30px;
          height: auto;
        }
        .wrap-device-content{
          width: 50%;
          display: inline-block;
        }
      }
      .slick-btn{
        display: block;
        width: 23px;
        height: 23px;
        background: linear-gradient(to right, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        transform: rotate(45deg) translateX(8px);
        &-wrap{
          position: absolute;
          width: 16px;
          height: 32px;
          overflow: hidden;
          top: 50%;
          cursor: pointer;

          &.prev{
            transform: translateY(-50%);
            left: - 32px;
          }
          &.next{
            transform: translateY(-50%);
            right: -32px;
          }
        }

      }
      .slick-prev{

        border: 20px solid transparent;
        border-width: 20px;
        border-style: solid;
        padding: 20px;
        box-sizing: border-box;
        background:
                linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        //border-image:
        //        -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        //border-image:
        //        -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        //border-image:
        //        -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        //border-image:
        //        linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
        width: 20px;
      }
      .catalog{
        width: 50%;



      }

      background: #fff;
      margin-bottom: 0;
      padding-top: 20px;
      .wrap-overflow{


        overflow: hidden;
        .wrap-items{
          width: 150%;

          transition: 1s;
          &:hover{
            transform: translateX(-50%);
          }
          .wrap-text-block{
            transform: translateX(-43%);
          }
          .wrap-items-first-section{
            border-left: 2px solid #CFB690;
            width: 70%;

            img {
              width: auto;
              height: 250px;
              margin: 0 auto;
            }

          }
          .block-bottom{
              width: 10px;
              height: 20px;
              position: absolute;
              top: 88%;
              left: 90%;
            z-index: 1000;
              background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
              background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
              background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
              background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
              background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);

            }
          }
          .wrap-items-second-section {
            width: 30%;

            div.btn-buy{
              width: 80px;
              background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
              padding: 3px;
              div{
                background: #fff;

              }

            }

          }
        }


      }

    }

  }

