.section-one{

  @media only screen and (min-width: 992px){
    margin-left: 20%;

    width: 80%;
  }

  .padding-top38{
    padding-top: 38px;
  }


  .page-header{


    min-width: 600px;
    @media only screen and (min-width: 992px){
      height: 100px;
    }
    @media only screen and (min-width: 992px){
      min-width: 1000px;
    }


    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
  }
  i{
    font-size: 72px;
    cursor: pointer;
  }
  ul{
    width: 100%;

  }
  ul li{
    display: inline-block;


  }
  img.search-header{
    position: absolute;

      top: 8%;
      left: 165px;

  }
  input.search-header-input{
    width: 180px;
    border: none;
    height:30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;

  }
  .nav-header-mobile{
    padding-top: 30px;
    i{
      font-size: 72px;
      cursor: pointer;
    }
    div{


      padding: 0 5px;
      span{
        color: #fff;
      }
    }
  }
  .page-main{


    background: url(../images/background.png) repeat-y;
    background-size: cover;

    .content{
      width: 90%;
      min-width: 600px;
      height: 90%;
      min-height: 600px;
      border: 3px solid #E5C595;
      @media only screen and (min-width: 992px){
      border: none;

      }
      @media only screen and (max-width: 992px){

        padding: 0;
      }


      margin: 60px auto;
      background: #fff;
      padding: 50px;
    }


  }
  .filtr-header-mobile{

    position: relative;
    width: 180px;
    height: 8px;
    border-radius: 3px;
    background: #fff;
    opacity: 0.5;
    margin: 25px auto;
    cursor: pointer;
    &:before{
      content: 'Цена';
      position: absolute;
      top: -300%;
      left: -2%;
      color: #fff;


    }
    .filter-items{
      position: absolute;
      top: -3px;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background: #fff;
      opacity: 1.0;
      box-shadow: 10px 10px 10px rgb(0,0,0);




    }
    .second-filter-item{
      left: 10%;
      &:before{
        content: '115 uah';
        position: absolute;
        top: 85%;
        left: -250%;
        color: #fff;
        white-space: nowrap;

      }
    }
    .first-filter-item{
      left: 50%;
      &:before{
        content: '155 uah';
        position: absolute;
        top: 85%;
        left: -250%;
        color: #fff;
        white-space: nowrap;

      }
    }
  }

}

.border-r{
  border-right: 1px solid #fff;
}

.header-first-section{
  min-width: 375px;
  margin-top: 10px;
  span{
    padding: 10px;

    position: relative;
  }

  img{
    position: absolute;
    top: 10%;
    left: 10px;
  }
}
.header-second-section{
  @media only screen and (min-width: 992px){
    left: 15%!important;
  }

}
.header-third-section{
  min-width: 200px;
  @media only screen and (max-width: 600px){
    min-width: 200px;
  }
  .active {
    position: absolute;



    background: #fff;
    padding: 10px;
    border: 3px solid #E5C595;
    z-index: 1000;
    &:before {
      content: ' ';
      position: absolute;
      top: -35px;
      left: 178px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      top: -25px;
      left: 184px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;
    }
    &-cart{
      left: -200px;
      top: 40px;
      width: 300px;

    }
    &-search{
      left: -294px;
      top: 50px;
      width: 400px;
      padding-top: 44px;
      &:before {
        content: ' ';
        position: absolute;
        top: -35px;
        left: 28px;
        border: 17px solid transparent;
        border-bottom: 17px solid #E5C595;
        display: block;
        width: 0;
        height: 0;
      }
      &:after {
        content: ' ';
        position: absolute;
        top: -25px;
        left: 34px;
        border: 11px solid transparent;
        border-bottom: 11px solid #fff;
        display: block;
        width: 0;
        height: 0;
      }
      .btn-active-search-buy{
        width: 100px;
        height: 40px;
        position: relative;
        top: -50px;
        left: 70%;
        border: 1px solid black;
      }
    }
    img{
      position: static;
      width: 20px;
    }
    img.product{
      width: 75px;
    }
    img.close-active-cart{
      transform: translateY(-220%);
    }
    div.active-cart-name{

      margin-left: 30%;
      padding-left: 10px;
      text-align: left;
      border-left: 1px solid #E5C595;
    }
    div.btn-active-cart{
      cursor: pointer;
      position: relative;
      width: 100px;
      height: 50px;
      border: 1px solid black;
      display: inline-block;
      &-first{
        left: 57%;
        top: 49px;
      }
      &-second{
        left: 7%;
        top: -1px;
      }
    }
    .total-price{
      width: 40%;


    }
  }
  .remind-pass{
    position: absolute;
    width: 250px;
    top: 40px;
    left: -30px;
    background: #fff;
    padding: 10px;
    border: 3px solid #E5C595;
    &:before{
      content: ' ';
      position: absolute;
      top: -35px;
      left: 178px;
      border: 17px solid transparent;
      border-bottom: 17px solid #E5C595;
      display: block;
      width: 0;
      height: 0;
    }
    &:after{
      content: ' ';
      position: absolute;
      top: -25px;
      left: 184px;
      border: 11px solid transparent;
      border-bottom: 11px solid #fff;
      display: block;
      width: 0;
      height: 0;

    }

    form{

      input{
        width: 80%;
        height: 20px;
        border: 1px solid #000000;
        &:last-child{
          background: none;
          border: none;
        }
      }

    }

  }

  margin-left: 195px;

  margin-top: 15px;

  span{
    position: relative;

    &.total-price:after {
      content: "2 items";
      font-size: 12px;
      position: absolute;
      top: 30px;
      left: 18%;

    }
  }
  img{
    position: absolute;
    top: -33%;
    left: -11%;
    @media only screen and (max-width: 600px){
      left: -10%;
    }
  }

}
.radio-form-catalog {
  form {
    p {

      height: 30px;
      margin: 0;
    }
    label {
      width: 200px;

    }

  }
}


